@model IEnumerable<CloudConcerts3.Models.Concert>

@{
    ViewBag.Title = "Calendar";
}

<h2>Concerts Calendar</h2>

<div id="toolbar" class="ui-widget-header ui-corner-all" style="padding:3px; vertical-align: middle; min-width:400px;">
    <button id="BtnPreviousMonth" class="btn btn-primary">Previous Month</button>
    <button id="BtnNextMonth" class="btn btn-primary">Next Month</button>
    <span style="white-space:nowrap;">Date: <input type="text" id="dateSelect" size="20" /></span>
    <a href="@Url.Action("Concerts", "Browse")" class="btn btn-primary">View Concert List &raquo;</a>
</div>

<div id="mycal"></div>

<div id="display-event-form" title="View Agenda Item"></div>

