@{
    ViewBag.Title = "Index";
}

<div class="row">
    <div class="col-md-4">
        <h2>Looking for artists?</h2>
        <p>You can find performers and bands for your next gig!</p>
        <p><a class="btn btn-default" href="@Url.Action("Artists", "Browse")">Find Artists &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Looking for concerts?</h2>
        <p>You can find concerts that are happening in your area!</p>
        <p><a class="btn btn-default" href="@Url.Action("Concerts", "Browse")">Find Concerts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Looking for gigs?</h2>
        <p>You can find venues that need a performer or band for their next event!</p>
        <p><a class="btn btn-default" href="@Url.Action("Hosts", "Browse")">Find Venues &raquo;</a></p>
    </div>
</div>