@model IEnumerable<CloudConcerts3.Models.ApplicationUser>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<hr />
@foreach (var item in Model) {
    {
    if (item is CloudConcerts3.Models.Host)
    {
        <p>Host:</p>
    }
    else if (item is CloudConcerts3.Models.Artist)
    {
        <p>Artist:</p>
    }
    else if (item is CloudConcerts3.Models.Listener)
    {
        <p>Listener:</p>
    }
}
    <p>From model:   @Html.DisplayFor(modelItem => item.Id)</p>
    <p>Current User: @User.Identity.GetUserId()</p>
}
