@model CloudConcerts3.Models.AspNetUser
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Cloud Concerts</h1>

    @if (Model == null)
    {
        <p class="lead">Cloud Concerts helps venues find artists and helps listeners find concerts.</p>
        <p><a href="@Url.Action("Register", "Account")" class="btn btn-info btn-lg">Sign Up Today &raquo;</a></p>
    }
    else
    {
        if (User.IsInRole("admin"))
        {
            <p>Logged in as an ADMIN</p>
        }
        else if (Model.Type == "Host")
        {
            Html.RenderAction("HostHome", "Home", new { id = User.Identity.GetUserId() });
        }
        else if (Model.Type == "Artist")
        {
            Html.RenderAction("ArtistHome", "Home", new { id = User.Identity.GetUserId() });
        }
        else
        {
            Html.RenderAction("ListenerHome", "Home", new { id = User.Identity.GetUserId() });
        }

    }

</div>

<div class="row">
    <div class="col-md-4">
        <h2>Looking for artists?</h2>
        <p>You can find performers and bands for your next gig!</p>
        <p><a class="btn btn-info" href="@Url.Action("Artists", "Browse")">Find Artists &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Looking for concerts?</h2>
        <p>You can find concerts that are happening in your area!</p>
        <p><a class="btn btn-info" href="@Url.Action("Concerts", "Browse")">Find Concerts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Looking for venues?</h2>
        <p>You can find venues that regularly have concerts!</p>
        <p><a class="btn btn-info" href="@Url.Action("Hosts", "Browse")">Find Venues &raquo;</a></p>
    </div>
</div>
